.display{
  font-size: 6rem;
  margin-bottom: 2rem;
}
.component-wrapper{
  padding: 100px;
  width: 80%;
  height: 500px;
  border-radius: 50px;
}

input[type="number"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
}

button[type="submit"] {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.start-button{
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #437adf;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.reset-button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #e01a4b;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.start-button:hover,
.reset-button:hover {
  background-color: #3e8e41;
}